@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600");

/* ===================================================================
 *
 * General
 *
 * ================================================================ */

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.captcha {
  margin-bottom: 15px;
}



/* ===================================================================
 *
 * Typo
 *
 * ================================================================ */

h1, .h1, h2, .h2, h3, .h3, p, ul, ol, form, blockquote {
  margin-bottom: 15px;
}

h2, .h2, h3, .h3 {
  line-height: 1.3;
}

div[class*="col-"] > h1:first-child,
div[class*="col-"] > .h1:first-child,
div[class*="col-"] > h2:first-child,
div[class*="col-"] > .h2:first-child,
div[class*="col-"] > h3:first-child,
div[class*="col-"] > .h3:first-child,
div[class*="col-"] > h4:first-child,
div[class*="col-"] > .h4:first-child,
div[class*="col-"] > h5:first-child,
div[class*="col-"] > .h5:first-child,
div[class*="col-"] > h6:first-child,
div[class*="col-"] > .h6:first-child {
  margin-top: 0;
}

a:hover {
  color: #056c94;
  
}

ul {
  padding-left: 1em;
}

.page-header {
  font-weight: 600;
}

h2.block-title {
  font-size: 20px;
}

.header-copy {
  font-size: 18px;
  line-height: 26px;
}

.header-copy ul {
  padding-left: .6em;
}

.header-copy li {
  margin: 8px 0;
  font-weight: 600;
}

/* ===================================================================
 *
 * Bootstrap/Bootswatch overrides 
 *
 * ================================================================ */
 
.panel-title {
 font-weight: bold;
}

.main-container img {
  max-width: 100%;
  height: auto;
}

.form-control {
  width: auto;
}

/* ===================================================================
 *
 * Layout
 *
 * ================================================================ */

#user-nav-wrapper {
  background: #ddd;
}

#user-nav-wrapper .navbar-nav > li {
  float:left;
}

#user-nav-wrapper .navbar-nav > li > a {
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 13px;
  margin: 6px 0;
  border-radius: 4px;
  color: #666;
}

#user-nav-wrapper .navbar-nav > li > a:hover {
  color: #333;
}

#user-nav-wrapper .navbar-nav > li.login {
  margin-right: 10px;
}

#user-nav-wrapper .navbar-nav > li.login a {
  padding-left: 93px;
  background: url(../images/hsa-vista-login.png) left center no-repeat;
}

#user-nav-wrapper .navbar-nav > li.login a:hover {
  background: url(../images/hsa-vista-login.png) left center no-repeat #fff;
}

#navbar {
  background-color: transparent;
  border: none;
  margin: 10px auto;
  padding: 0;
}

#navbar .navbar-nav > li > a {
  padding: 26px 10px;
  font-size: 15px;
  color: #777;
}

#navbar .navbar-nav > li > a.adviserlink:after {
  content: '\2122';
}

#navbar .navbar-collapse.collapse {
  padding: 0;
}

#navbar logo {
  padding-right: 20px;
}

.logo.navbar-btn:hover {
  margin-top: 6px;
}

.logo.navbar-btn img {
  max-width: 225px;
}

.region-sidebar-first .block ul {
  padding-left: 0;
}

input[type="checkbox"].facetapi-checkbox {
  margin-right: 6px;
}

.main-container {
  padding-top: 20px;
}

footer.footer {
  text-align: center;
}

.navbar-toggle {
  margin-right: 0;
}

/* ===================================================================
 *
 * Jumbotron
 *
 * ================================================================ */

#custom-jumbotron {
  margin-bottom:30px;
  background-size: 100%;
  background-position: top center;
  padding: 30px 0;
  background-size:cover;
  min-height: 220px;
  text-shadow: 0px 0px 20px #000;
}

#custom-jumbotron h1 {
  font-size: 53px;
  width: 488px;
  color: #fff;
  margin: 100px 0 0 0;
}

#custom-jumbotron h1 sup {
  font-size: 20px;
  top: -.7em;
}

/* Homepage */

.front #custom-jumbotron {
  background-image:url('../images/home-header-bg.jpg');
  min-height: 500px;
}

.front #custom-jumbotron h1 {
  color: #333;
  text-shadow: none;
  margin-top: 30px;
}

/* About Us */

.page-node-108 #custom-jumbotron {
  background-image:url('../images/header-bg-about.jpg');
}

/* Services */

.page-node-109 #custom-jumbotron {
  background-image:url('../images/header-bg-services.jpg');
}

/* ===================================================================
 *
 * Services Page
 *
 * ================================================================ */

 #services-wrapper {
   padding: 15px;
   background: #CEE7FF;
   border-radius: 4px;
   margin-bottom: 30px;
 }
 
 #services-wrapper ul {
   margin: 0;
 }

/* ===================================================================
 *
 * Providers
 *
 * ================================================================ */

.disclaimer {
  font-size: .85em;
  line-height: 1.4em;
  color: #666;
  padding-bottom: 15px;
}

.node-providers > .row:first-child > .col-sm-12 > .field {
  margin-bottom: 2px;
}

.node-providers .field-name-title h2 {
  margin: 0 30px 20px 0;
  float: left;
}

.node-providers > .row:first-child > .col-sm-12 > .field-name-field-company-logo {
  float: left;
  margin: 0 0 20px 0;
}

.node-providers  .field-name-field-description {
  clear: both;
}

.node-providers .group-rfp-link {
  float: right;
}

.node-providers .group-rfp-link .btn {
  font-size: 16px; 
}

.node-providers .group-basic-info {
  float: left;
}

.node-providers > .row,
.node-providers .links  {
  margin-bottom: 30px;
}


.node-providers > .row:first-child > .col-sm-12 > .field-name-field-description,
.node-providers .field-name-body,
.node-providers .field-name-field-security-features {
  margin-bottom: 15px;
}

.node-providers fieldset .panel-body {
  font-size: .9em;
}

.node-providers fieldset .panel-body,
.node-providers fieldset .panel-body > #group-custodian-details,
.node-providers fieldset .panel-body > .field-type-entityreference .node,
.node-providers fieldset .panel-body > .field-type-entityreference .node .field-name-field-mutual-fund > .field-items,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item {
  display: table;
  width: 100%;
}

.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-name-field-mutual-fund > .field-items,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-name-field-mutual-fund > .field-items > .field-item .node .field-items {
  max-width: none;
}

.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node {
  display: block;
}

.node-providers fieldset .panel-body > .field,
.node-providers fieldset .panel-body > .field-type-entityreference,
.node-providers fieldset .panel-body > .field-type-entityreference .node > .field,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-name-field-mutual-fund > .field-items > .field-item,
.node-providers fieldset .panel-body > #group-custodian-details .field,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field {
  display: table-row;
}

.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-name-field-mutual-fund > .field-items > .field-item .node {
  display: table;
}

.node-providers fieldset .panel-body > .field:nth-child(even),
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-name-field-mutual-fund > .field-items > .field-item.even,
.node-providers fieldset .panel-body > .field-name-field-associated-material > .field-items:first-of-type > .field-item.even,
.node-providers fieldset .panel-body > .field-type-entityreference .node > .field > .field-item.even,
.node-providers fieldset .panel-body > #group-custodian-details .field:nth-child(even),
.node-providers .field-name-field-contact .node-contacts > .field:nth-child(even),
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field:nth-child(even) {
  background: #f4f4f4; 
}

.node-providers fieldset .panel-body > .field > .field-label,
.node-providers fieldset .panel-body > .field > .field-items,
.node-providers fieldset .panel-body > #group-custodian-details .field .field-label,
.node-providers fieldset .panel-body > #group-custodian-details .field .field-items,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-left,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-right,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-label,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-items,
.node-providers fieldset .panel-body > .field-name-field-contact > .field-items > .field-item > .node > .field > .field-label,
.node-providers fieldset .panel-body > .field-name-field-contact > .field-items > .field-item > .node > .field > .field-items  {
  display: table-cell;
  max-width: 0;
  float: none;
}

.node-providers fieldset .panel-body > .field-type-entityreference .field-items {
  max-width: none; 
}

.node-providers fieldset .panel-body > #group-custodian-details {
  margin-top: 20px;
}

.node-providers fieldset .panel-body > .field-label-inline > .field-label,
.node-providers fieldset .panel-body > .field-type-entityreference .node .field-label,
.node-providers fieldset .panel-body > #group-custodian-details .field .field-label,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-left,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-label {
  width: 45%;
  padding-left: 6px;
  font-weight: 600;
}

.node-providers fieldset .panel-body .field-label-inline > .field-items,
.node-providers fieldset .panel-body > #group-custodian-details .field .field-items,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-right,
.node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-items {
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55%;
}

.node-providers fieldset .field-name-field-custodial-agreement {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-providers fieldset .panel-body > .field-label-hidden.field-name-field-associated-material > .field-items {
  padding-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 98%;
}

.node-providers fieldset .panel-body > .field-label-inline > .field-items .field-item:only-of-type,
.node-providers fieldset .panel-body > .field.field-type-entityreference .field-label-inline .field-item:only-of-type {
  display: inline; 
}

.node-providers fieldset.group-custodian .panel-body,
.node-providers fieldset.group-mutual-funds .panel-body,
.node-providers fieldset.group-links-forms .panel-body,
.node-providers fieldset.group-direct-contacts .panel-body,
.node-providers fieldset .panel-body > .field-type-entityreference,
.node-providers fieldset .panel-body > .field.field-type-entityreference > .field-items,
.node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node > .field-name-field-mutual-fund {
  display: block;
}

.node-providers .field-type-entityreference .field {
  padding-left: 6px;
}

.node-providers .field-type-entityreference .field-name-field-mutual-fund,
.node-providers .field-type-entityreference .field .group-left .field {
  padding-left: 0;
}

.node-providers .field-name-field-contact > .field-items > .field-item:not(:first-of-type) {
  margin-top: 20px;
}

.node-providers .field-name-field-contact .field-items > .field-item {
  margin-bottom: 10px;
}

.node-providers .field-name-field-contact .node-contacts h2 {
  margin: 0 0 10px;
  padding-left: 6px;
  font-size: 16px;
  font-weight: 700;
}

.node-providers .field-name-field-contact .node-contacts .field-name-body .field-item {
  padding: 6px;
}

.node-providers fieldset .panel-body > .field-name-field-contact > .field-items > .field-item > .node > header {
  display: table-caption;
}

/* ===================================================================
 *
 * Bootstrap Grid View
 *
 * ================================================================ */
 
.view-access-point-search .view-filters {
  margin-bottom: 20px;
}

.view-access-point-search .views-exposed-widgets .views-widget {
  display: inline-block;
  margin-left:10px;
}

.view-access-point-search .views-exposed-form .views-exposed-widget .btn {
  margin-top: 0;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .row {
  margin: 0 -10px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
 
.view-access-point-search .views-bootstrap-grid-plugin-style .col {
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .col .grid-link {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .grid-link:hover {
  text-decoration: none;
  border: 1px solid #ccc;
  background: #fafafa;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .col .img-responsive {
  margin: 0 auto;
  vertical-align: middle;
  display: inline;
  max-height: 100%;
  width: auto;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .img-helper-wrapper {
  display: block;
  height: 50px;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .img-helper-wrapper .img-helper {
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
}
 
.view-access-point-search .views-bootstrap-grid-plugin-style .views-field-title {
  line-height: 20px;
  padding: 8px;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .views-field-field-self-directed-brokerage {
  font-size: 12px;
  font-style: italic;
  color: #555;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 8px;
  margin: 0 15px;
  text-align: center;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle {
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .col:hover .compare-toggle-wrapper .compare-toggle {
  opacity: 1;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle:hover {

  text-decoration: none;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle .ajax-progress {
  position: absolute;
  right: 14px;
}

/** Style Comparison links **/

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle.remove,
.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle.add {
  display: block;
  padding: 4px 6px 2px;
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle.add {
  background-color: #75caeb;
  border-color: #5fc1e8;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .compare-toggle.remove {
  opacity: 1;
  background-color: #ff4136;
  border-color: #ff291c;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .remove:active,
.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .add:hover
 {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #29ade0;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .add:hover  {
  background-color: #75caeb;
  border-color: #5fc1e8;
  margin-top: 1px;
  border-bottom-width: 3px;
}

.view-access-point-search .views-bootstrap-grid-plugin-style .compare-toggle-wrapper .remove:hover {
  background-color: #ff4136;
  border-color: #ff291c;
  margin-top: 1px;
  border-bottom-width: 3px;
}

/* ----------------------------------------------------
	Comparison block
------------------------------------------------------- */

#node-compare-block-content {
  border-radius: 4px;
  background: #e6f7fd;
  border: 1px solid #cee7ff;
  padding: 15px;
  margin-bottom: 30px;
}

#node-compare-block-content h2 {
  font-weight: 600;
}

#node-compare-block-content table {
  margin-bottom: 0;
}

#node-compare-items tr,
#node-compare-items tr:hover {
  background: transparent;
}

#node-compare-block-content td {
  padding: 4px 6px; 
}

#node-compare-items tr:last-child td {
  padding: 14px 6px;
}

#node-compare-items tr td:first-child a.compare-block-links {
  
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  color: #ffffff;
  background-color: #28b62c;
  border-color: #23a127;
}

#node-compare-items tr td:first-child a.compare-block-links:hover {
  background-color: #28b62c;
  border-color: #23a127;
  margin-top: 1px;
  border-bottom-width: 3px;
}

#node-compare-items tr td:first-child a.compare-block-links:active {
  background-color: #186f1b;
  border-color: #0c390e;
  margin-top: 2px;
  border-bottom-width: 2px;
}

/* ----------------------------------------------------
	Comparison page
------------------------------------------------------- */

#comparison-table {
/*   table-layout: fixed; */
  width: 100%!important;
}

#comparison-table th.properties-title {

}

#comparison-table th.item-title {
  vertical-align: top;
  padding: 30px 8px 8px;
}

#comparison-table th.item-title .remove-col {
  font-size: .85em;
  font-weight: normal;
  color: #aaa;
}

#comparison-table .compare-field-label {
  font-weight: 600;
}

#comparison-table .node-custodians {
  
}

#comparison-table .node-custodians h2 {
  font-size: 16px;
  margin: 0 0 4px 0;
}

#comparison-table .node-custodians .field-name-field-custodian-credit-rating {
  font-size: .85em;
}

/* ----------------------------------------------------
	NEWS PAGE
------------------------------------------------------- */
.view-id-hsa_news .col {
  margin-bottom: 30px;
  padding-right: 85px;
}

.view-id-hsa_news .views-field-title h3 {
  margin-bottom: 6px;
  font-weight: 600;
}

.view-id-hsa_news .views-field-field-published-date {
  color: #888;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
}

.view-id-hsa_news .views-field-field-feed-item-description {
  margin-top: 10px;
}

.view-id-hsa_news .views-field-field-feed-item-description .field-name-field-featured-image {
  margin-bottom: 10px;
}

.view-id-hsa_news .views-field-field-feed-item-description .field-name-field-teaser {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
}

.view-id-hsa_news .views-field-field-feed-item-link {
  margin-top: 15px;
}

.view-id-hsa_news .views-field-field-feed-item-link a:after {
  content: '\2192';
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 4px;
}

/* ----------------------------------------------------
 * 	User Page
 * ------------------------------------------------------- */

.profile2-main .content .field {
  margin-bottom: 12px;
}

.profile2-main .content .field .field-label,
.profile dt {
  font-weight: normal;
  color: #999;
  font-size: .85em;
  line-height: 21px;
}

.profile2-main .content .field .field-items {
  line-height: 21px;  
}

/* ----------------------------------------------------
	RFP Form
------------------------------------------------------- */

.webform-client-form-10907 span.form-required {
  display: none;
}

/* ----------------------------------------------------
	ALERT
------------------------------------------------------- */

.alert-warning a {
  color: #fff;
  text-decoration: underline;
}

/* ----------------------------------------------------
	MISC
------------------------------------------------------- */

img.print-icon {
  display: inline;
}

li.print_html.first {
  margin-left: 0;
}

.flag-outer-agreement,
.field-name-ds-flag-agreement {
  margin: 20px 0;
  text-align: center;
}

.flag-agreement span.flagged {
  
}

.btn[disabled]:hover {
  margin-top: 0;
  border-bottom-width: 4px;
}




/* ===================================================================
 *
 * Responsive styles
 *
 * ================================================================ */
 
@media (max-width: 1199px) {
  #navbar .logo img {
    max-width: 170px;
    padding-top: 11px;
  }
  
  #navbar .navbar-nav>li>a {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
  }

  #custom-jumbotron h1 {
    font-size: 44px;
    width: 458px;  
  }
  
  .view-id-hsa_news .col {
    padding-right: 15px;
  }
}
 
@media (max-width: 991px) {
  
  #navbar .navbar-header {
    width: 100%;
    text-align: center;
  }
  
  #navbar .logo {
    float: none!important;
    display: inline-block;
    padding-right: 0;
  }
  
  #navbar .logo img {
    width: 270px;
  }
  
  #navbar .navbar-nav {
    width: 100%;
    text-align: center;
  }
  
  #navbar .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  
  #navbar .navbar-nav > li > a{
    font-size: 12px; 
  }
   
  #custom-jumbotron {
    min-height: 0;
  }
  
  .front #custom-jumbotron {
    min-height: 266px;
  }
  
  #custom-jumbotron h1 {
    font-size: 39px;
    width: 358px;
    margin: 20px 0 0 0;
  }
  
  .front #custom-jumbotron h1 {
    margin: 0;
  }
  
  div[class*="col-md-"] {
    margin: 15px 0;
  }
  
  .view-access-point-search .views-bootstrap-grid-plugin-style .row {
    display: block; 
  }
  
  .node-providers .group-rfp-link,
  .node-providers .group-basic-info  {
    float: none;
  }
  
  .node-providers .group-rfp-link {
    margin-bottom: 20px;
  }
 
}

@media (max-width: 767px) {
  
  #navbar {
    padding: 0 15px;
  }
  
  #navbar .container > .navbar-header {
    margin: 0;
  }
  
  #navbar .logo {
    float: left!important;
    padding: 0;
  }
  
  #navbar .logo img {
    width: 210px;
    padding: 0;
  }
  
  #navbar .navbar-collapse.collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #navbar .navbar-nav {
    text-align: left;
    margin-left: 0;
    background: #f1f1f1;
  }
  
  #navbar .navbar-nav > li {
    display: block;
  }
  
  #navbar .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #user-nav-wrapper .navbar-nav > li.login {
    margin-right:0;
  }

  #user-nav-wrapper .navbar-nav > li.login a {
    padding-left: 8px;
    background: transparent;
  }

  #user-nav-wrapper .navbar-nav > li.login a:hover {
    background:  #fff;
  }  
  
  #custom-jumbotron {
    background-color: #003F80;
    padding: 20px 10px;
  }
  
  .front #custom-jumbotron,
  #custom-jumbotron {
    background-image: none;
    min-height: 0;
  }
  
  #custom-jumbotron h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .front #custom-jumbotron h1 {
    color: #fff;
    width: auto;
    margin: 0;
  }
  
  .front #custom-jumbotron h1 sup {
    font-size: 12px;
  }
  
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  .node-providers .col-sm-6 {
    margin-bottom: 20px;
  }
  
  .node-providers fieldset .panel-body {
    font-size: .8em;
  }
  
  .node-providers fieldset .panel-body {
    padding: 6px;
  }
  
  .node-providers fieldset .panel-body > .field-label-inline > .field-label,
  .node-providers fieldset .panel-body > .field-type-entityreference .node .field-label,
  .node-providers fieldset .panel-body > #group-custodian-details .field .field-label,
  .node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-left,
  .node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-label {
    width: 55%;
  }
  
  .node-providers fieldset .panel-body .field-label-inline > .field-items,
  .node-providers fieldset .panel-body > #group-custodian-details .field .field-items,
  .node-providers fieldset .panel-body > .field-name-field-mutual-fund-names .field-item .node .field-items .field-item .group-right,
  .node-providers fieldset .panel-body > .field-name-field-custodian > .field-items > .field-item > .field > .field-items {
    padding-left: 8px;
    width: 45%;
  }
  
  .node-providers .group-rfp-link .btn {
    font-size: 13px; 
  }
}
